lab1/ContestDataset
lab2/animal
lab3/cv-3-segmentation

.direnv
.venv

*.pt

__pycache__/
.virtual_documents/
.ipynb_checkpoints/
lab4/cv-4-objectdetection/craters
runs/detect
gpucore*
*.zip

!lab4/bestS.pt
